html, body {
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0px;
    margin-bottom: 50px;
}