

body {
    background-image: url('https://videohive.img.customer.envatousercontent.com/files/38a23d08-2e6a-4dc7-8de7-56b11ff8cd33/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=2019f14eee641b775d4e408792ce959a');
    background-size: 110% 100%;
}

h1 {
    text-align: center;
    font-family: Arial;
    margin: 30px;
    font-size: 42px;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 80px;
    border: 5px black;
    font-size: 35px;
}

p.bot-hand {
    position: absolute;
    top: 8.8em;
    right: 22em;
    font-family: Helvetica;
    margin: 50px;
    font-size: 23px;
}

p.card.small.spades.K {
    position: absolute;
    top: 2.7em;
    right: 46em;
}

p.card.small.spades.A {
    position: absolute;
    top: 1.5em;
    right: 47em;
}

p.card.hearts.K.large {
    position: absolute;
    top: 8.3em;
    left: 25.8em;
    height: 182px;
    width: 130px;
}

p.card.back.blue.large {
    position: absolute;
    top: 7.7em;
    left: 25.1em;
    height: 182px;
    width: 130px; 
}

p.card.back.blue.shadow {
    position: absolute;
    bottom: 3em;
    right: 13.8em;
    height: 182px;
    width: 130px;
}

button#hit-me {
    width: 90px;
    height: 40px;
    font-size: 20px;
    background-color: green;
    position: absolute;
    bottom: 11em;
    right: 22em;
    border-radius: 10%;
}

button#stay {
    width: 90px;
    height: 40px;
    font-size: 20px;
    background-color: red;
    position: absolute;
    bottom: 8.8em;
    right: 22em;
    border-radius: 10%;
}

p#results {
    font-family: Helvetica;
    position: absolute;
    top: 10.7em;
    left: 18.7em;
    font-size: 35px;
    font-weight: 900;
}


div#your-cards {
    position: absolute;
    bottom: 6em;
    right: 35.5em;
    
} 

img {
    height: 180px;
    width: 140px;
    background-color: aliceblue;
    border-radius: 3.5%;

}

h1, h2, p#results {

    color: #8ff6ff;
    font-style: italic;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.666);
}

button#reset {
    width: 100px;
    height: 55px;
    font-size: 20px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8.3em;
    right: 12.1em;
    border-radius: 10%;

}

h1, h2, p#results {



p#instructions {
    background-color: #ba44448e;
    color: #8ff6ff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 370px;
    height: 500px;
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    text-align: left;
    border-radius: 7%;
    font-style: italic;
    font-size: 27.5px;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.64);
    background-blend-mode: screen;
}

p#rules {
    color: #8ff6ff;
    font-size:35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #8ff6ff;
    text-decoration-thickness: inherit;
    position: absolute;
    top: 0.3em;
    left: 4.3em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(196, 196, 196, 0.64);
}

    color: #8ff6ff;
    font-style: italic;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

button#reset {
    width: 100px;
    height: 55px;
    font-size: 20px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8.3em;
    right: 12.1em;
    border-radius: 10%;
}
